@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

:root {
    --primary: #000000;
    --secondary: rgb(234, 167, 51);
    --textPrimary: rgb(234, 167, 51);
    --textSecondary: #000000;
    --testColorOne: rgb(167, 24, 24);
    --testColorTwo: rgba(141, 250, 79, 0.6);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    color: var(--textPrimary);
    font-family: 'Julius Sans One', sans-serif;
}
a, a:visited {
    color: var(--textPrimary);
    text-decoration: none;
}

.main-outer-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*align-content: center;*/
}

.main-content-container {
    padding: 20px;
}

@media (min-width: 909px) {
    .main-content-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        transition: 500ms;
        flex: 1;
        margin: 0 auto;
    }
}

.pages-main-container {
    width: 100vw;
}

.text-container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    max-width: 400px;
    border: solid 1px var(--secondary);
}
.text-container p {
    padding: 10px;
}
.main-footer {
    min-height: 10vh;
    max-height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: solid 1px var(--testColorOne);
}

.footer-box {
    margin: 1rem;
}

.main-footer h1:hover {
    cursor: pointer;
    color: var(--testColorOne);
    transition: 100ms;
}

.container {
    display: flex;
    gap: 20px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.component {
    flex-grow: 1;
    flex-shrink: 0;
    border: 1px solid var(--secondary);
    flex-basis: 0;
    max-height: 200px;
    overflow-y: auto;
    padding: 10px;
}





