@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

:root {
    --primary: #000000;
    --secondary: #eaa733;
    --textPrimary: rgb(234, 167, 51);
    --textSecondary: #000000;
    --testColorOne: rgb(167, 24, 24);
    --testColorTwo: rgba(141, 250, 79, 0.6);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    color: var(--textPrimary);
    font-family: 'Julius Sans One', sans-serif;
}
a, a:visited {
    color: var(--textPrimary);
    text-decoration: none;
}

.main-outer-container {
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.main-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 20px;
    margin: 0 auto;
    /*max-width: 1140px;*/
}

.pages-main-container {
    width: 100vw;
}

.text-container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    max-width: 400px;
    border: solid 1px var(--secondary);
}
.text-container p {
    padding: 10px;
}
.main-footer {
    min-height: 10vh;
    max-height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: solid 1px var(--testColorOne);
}

.footer-box {
    border: solid 1px var(--testColorOne);
    /*background: rgba(141, 250, 79, 0.6);*/
    /*padding-top: 1vh;*/
    margin: 1rem;
}

.main-footer h1:hover {
    cursor: pointer;
    color: var(--testColorOne);
    transition: 100ms;
}







